In [1]:
import pandas as pd

In [21]:
t_data=pd.read_csv("2021-01-21_zeta-disease_training-data_dsi-take-home-challenge.csv")
to_predict=pd.read_csv("2021-01-21_zeta-disease_prediction-data_dsi-take-home-challenge.csv")

In [5]:
t_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 800 non-null    int64
 1   weight              800 non-null    int64
 2   bmi                 800 non-null    float64
 3   blood_pressure      800 non-null    int64
 4   insulin_test        800 non-null    int64
 5   liver_stress_test   800 non-null    float64
 6   cardio_stress_test  800 non-null    int64
 7   years_smoking       800 non-null    int64
 8   zeta_disease        800 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 56.4 KB

In [7]:
t_data.describe()

,age,weight,bmi,blood_pressure,insulin_test,liver_stress_test,cardio_stress_test,years_smoking,zeta_disease
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,30.985000,172.407500,32.201625,69.565000,85.887500,0.544496,43.121250,4.051250,0.348750
std,13.824025,31.942438,8.549155,19.874784,126.333656,0.348711,30.409949,4.176173,0.476873
min,18.000000,94.000000,0.000000,0.000000,0.000000,0.140800,0.000000,0.000000,0.000000
25%,21.000000,149.000000,27.300000,62.000000,0.000000,0.307800,0.000000,1.000000,0.000000
50%,26.000000,167.000000,32.050000,72.000000,45.000000,0.445300,53.000000,3.000000,0.000000
75%,38.000000,192.000000,36.525000,80.000000,130.000000,0.699800,62.000000,6.000000,1.000000
max,109.000000,308.000000,86.100000,157.000000,1077.000000,3.481300,214.000000,40.000000,1.000000

In [8]:
t_data

,age,weight,bmi,blood_pressure,insulin_test,liver_stress_test,cardio_stress_test,years_smoking,zeta_disease
0,54,189,27.1,80,0,1.5038,0,10,0
1,23,150,38.5,68,71,0.3868,55,2,0
2,47,186,29.9,90,0,0.2728,0,7,0
3,18,150,30.8,70,1033,0.6598,56,0,0
4,24,160,32.4,74,125,0.7608,59,2,0
...,...,...,...,...,...,...,...,...,...
795,26,161,28.4,90,78,0.5578,42,3,0
796,37,165,33.7,60,0,0.3078,69,6,1
797,27,166,25.6,74,0,0.2638,0,5,0
798,109,139,28.1,66,94,0.2298,53,1,0
799,26,196,29.7,56,0,0.6268,0,1,0

In [38]:
X=t_data.iloc[:,0:8]
y=t_data["zeta_disease"]

In [39]:
# Variable Importance 
from sklearn.ensemble import ExtraTreesClassifier
model=ExtraTreesClassifier()
model.fit(X,y)
rank=pd.DataFrame(model.feature_importances_,X.columns,columns=["Scores"])
rank.nlargest(8,"Scores")

                      Scores
weight              0.238646
bmi                 0.143096
age                 0.141960
liver_stress_test   0.117665
years_smoking       0.108846
blood_pressure      0.098445
cardio_stress_test  0.077421
insulin_test        0.073921

In [109]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=30)

In [110]:
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [120]:
random=RandomForestClassifier(n_estimators=100,n_jobs=70,random_state=10)
random.fit(X_train,y_train)
rf_prediction=random.predict(X_test)

In [121]:
print(confusion_matrix(y_test,rf_prediction))

[[157  15]
 [ 44  48]]

In [122]:
print(classification_report(y_test,rf_prediction))

              precision    recall  f1-score   support

           0       0.78      0.91      0.84       172
           1       0.76      0.52      0.62        92

    accuracy                           0.78       264
   macro avg       0.77      0.72      0.73       264
weighted avg       0.77      0.78      0.76       264

In [123]:
print(classification_report(y_test,rf_prediction))

              precision    recall  f1-score   support

           0       0.78      0.91      0.84       172
           1       0.76      0.52      0.62        92

    accuracy                           0.78       264
   macro avg       0.77      0.72      0.73       264
weighted avg       0.77      0.78      0.76       264

In [131]:
prediction=random.predict(to_predict.iloc[:,0:8])
prediction=pd.DataFrame(prediction,columns=["zeta_disease"])

In [135]:
final_output=pd.concat([to_predict.iloc[:,0:8],prediction],axis=1)

In [136]:
final_output

,age,weight,bmi,blood_pressure,insulin_test,liver_stress_test,cardio_stress_test,years_smoking,zeta_disease
0,24,151,39.5,69,72,1.3968,56,4,0
1,27,179,35.5,89,156,1.6608,43,6,1
2,34,147,26.9,76,74,1.6958,53,2,0
3,35,206,32.4,73,127,1.4608,61,6,1
4,60,193,29.8,62,192,1.7798,65,9,1
5,45,120,36.5,108,50,1.2978,54,12,0
6,20,139,38.2,61,77,1.5818,68,3,0
7,23,137,31.2,70,73,1.4168,59,7,0
8,36,195,30.5,59,141,1.4498,59,6,1
9,19,193,25.8,84,66,1.7938,50,3,0
10,47,216,34.7,70,170,1.7238,58,7,1
11,40,200,30.4,69,128,1.3118,60,3,1
12,21,154,46.5,88,121,1.2498,68,4,1
13,52,196,31.3,90,167,1.9238,66,10,1
14,30,181,37.4,93,157,2.0508,80,5,1
15,46,213,26.5,70,133,1.4788,55,12,1
16,29,173,50.7,91,221,1.4878,83,3,1
17,36,202,42.8,72,273,1.8748,72,13,1
18,27,197,29.1,72,362,1.4298,69,4,1
19,44,184,33.9,104,141,1.3268,60,2,1